@using electronNetTest.Views.Home
@using Microsoft.AspNetCore.Http
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    @Context.Session.GetString("active")
    <link href="~/css/_HomeLayout.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header class="navbar-container">
    @foreach (var page in _HomeLayout.Pages)
    {
        <div class="page @(ViewContext.RouteData.Values["action"].Equals(page.view) ? "active" : "")">
            <partial name="Components/NavBarTab"
                     view-data='new ViewDataDictionary(ViewData)
{
    {"page", page}
}
    '/>
            @if (ViewContext.RouteData.Values["action"].Equals(page.view))
            {
                <partial name="Components/TestInput"/>
            }

        </div>
    }
</header>
<div class="container">
    @RenderBody()
</div>
</body>
</html>